# PrestaShop
/shop/var/cache/
/shop/var/logs/
/shop/var/sessions/
/shop/app/config/parameters.php
/shop/img/
/shop/mails/
/shop/modules/
/shop/override/
/shop/themes/
/shop/upload/
/shop/translations/
/shop/download/

# Docker
/docker/ssl/
!.gitkeep

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db